
#calendar {
    max-width: 900px;
    margin: 0 auto;
}


.fc-button:focus {
    background-color: inherit;
}


.fc-center h2{
    font-size: 2.56rem;
}

.left-panel{
    flex-basis: 100%;
}

.full-height{
    display: flex;
    background: rgba(241, 241, 241, 0);
    opacity: 1;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 999;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    will-change: opacity;
}

.modal-c{
    width: 25% !important;
}

.row-no-mb{
    margin-bottom: inherit !important;
}

.collection-item .material-icons{
    position: relative;
    top: 5px;
}
