{% extends 'base.html' %}
{% block css %}
{% endblock %}
{% block body %}
<style>
    .parent {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        height: 500px;
    }
</style>
<div class="row parent">
    <div class="col s12 m6 l6 center-align">
        <div class="card">
            <div class="card-image">
              <img src="/media/payu.jpeg">
            </div>
            <div class="card-content">
              <h4>Procedimiento</h4>
              <p>$15.000</p>
              <form method="post" action="https://sandbox.gateway.payulatam.com/ppp-web-gateway/">
                  <input name="merchantId"    type="hidden"  value="673242"   >
                  <input name="accountId"     type="hidden"  value="isbFMRz3wZTwp22bGV2POnAFrM" >
                  <input name="description"   type="hidden"  value="Test PAYU"  >
                  <input name="referenceCode" type="hidden"  value="TestPayU" >
                  <input name="amount"        type="hidden"  value="20000"   >
                  <input name="tax"           type="hidden"  value="3193"  >
                  <input name="taxReturnBase" type="hidden"  value="16806" >
                  <input name="currency"      type="hidden"  value="COP" >
                  <input name="signature"     type="hidden"  value="7ee7cf808ce6a39b17481c54f2c57acc"  >
                  <input name="test"          type="hidden"  value="1" >
                  <input name="buyerEmail"    type="hidden"  value="test@test.com" >
                  <input name="confirmationUrl"  type="hidden"  value="http://www.test.com/confirmation" >
                  <button class="btn waves-effect waves-light red" type="submit" name="action">Pagar
                     <i class="material-icons right">payment</i>
                   </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
