{% extends 'base.html' %}
{% block css %}
{% endblock %}
{% block body %}
<style>
    .parent {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        height: 500px;
    }
</style>
<div class="row parent">
    <div class="col s12 m6 l6 center-align">
        <div class="card">
            <div class="card-image">
              <i class="material-icons purple-text text-darken-4 large">local_pharmacy</i>
            </div>
            <div class="card-content">
              <h4>{{description}}</h4>
              <p>${{amount}} {{currency}}</p>
            </div>
            <div class="card-action">
                <form method="post" action="https://sandbox.gateway.payulatam.com/ppp-web-gateway/">
                    <input name="merchantId"    type="hidden"  value="{{merchantId}}"   >
                    <input name="accountId"     type="hidden"  value="{{accountId}}" >
                    <input name="description"   type="hidden"  value="{{description}}"  >
                    <input name="referenceCode" type="hidden"  value="{{referenceCode}}" >
                    <input name="amount"        type="hidden"  value="{{amount}}"   >
                    <input name="tax"           type="hidden"  value="0"  >
                    <input name="taxReturnBase" type="hidden"  value="0" >
                    <input name="currency"      type="hidden"  value="{{currency}}" >
                    <input name="signature"     type="hidden"  value="{{signature}}"  >
                    <input name="test"          type="hidden"  value="1" >
                    <input name="buyerEmail"    type="hidden"  value="{{buyerEmail}}" >
                    <input name="buyerFullName"    type="hidden"  value="{{buyerFullName}}" >
                    <input name="confirmationUrl"    type="hidden"  value="{{confirmationUrl}}" >
                    <button class="btn waves-effect waves-light red" type="submit" name="action">Pagar
                       <i class="material-icons right">payment</i>
                     </button>
                  </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
